.booking-form {
    display: grid;
    max-width: 400px; 
    gap: 20px; /* This is the Space between form elements */
    padding: 20px;
    background-color: #495E57; 
    border-radius: 8px;
  }
  
  .booking-form label {
    font-family: 'Karla', sans-serif; 
    font-size: 16px;
    color: #fff;
  }
  
  .booking-form input,
  .booking-form select {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    font-family: 'Karla', sans-serif;
  }
  
  .booking-form input[type="submit"] {
    background-color: #f4ce14; 
    color: #333;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
  }
  
  .booking-form input[type="submit"]:hover {
    background-color: #e0b911; 
  }
  .error {
    color: red;
    margin-bottom: 10px;
  }
  .booking-section h1 {
    color: #fff;
    font-size: 2rem;
    font-family: "Markazi"
  }
  .popup-content {
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
  }
  .booking-section {
    background-color: #495E57;
    padding: 3px;
  }